$main-font: 'Outfit', sans-serif;

$duration: 0.3s;

$container-inner-width: 1360px;
$container-padding-x: 40px;
$container-padding-x-tablet: 24px;
$container-padding-x-mobile: 16px;

// $container-max-width: calc(#{$container-inner-width} + 2*#{$container-padding-x});
$tablet-max-width: 1080px; // ipad 10 810px × 1080px
$mobile-max-width: 767px;


$black: #1F1F1F;

// $grey-0: #292929;
$grey-0: #1a1a1a;
$grey-1: #292929;
$grey-2: #343434;
$grey-3: #3e3e3e;
$grey-4: #595959;
$grey-5: #b3b3b3;

$green: #D8FD87;

$accent-green: #40C766;
$accent-blue: #3F66E6;
$accent-red: #EA4E40;
$red-error: #F83826;
$red-error-hover: #D72616;

// $body-bg: $black;
$body-bg: #000;

$text-color: #fff;
$theme-color: $green;
